---
layout: articles
titles:
    en:       Web3 Basic Concepts
    zh:       Web3
    zh-Hans:  Web3
    zh-Hant:  Web3
sidebar:
    nav: BASICS
---


<ul>
    {% for cat in site.categories %}
        {% if cat[0] == "web3_concept" %}
        {% for post in cat[1] %}
        {{post.date | date:"%d/%m/%Y"}}
        <font size="3"><a href={{post.url}} title={{ cat[0] }}>{{post.title}}</a></font>
        <br>
        {% endfor %}
        {% endif %}
    {% endfor %}
</ul>

<h2>
  Web3 Learning Goals
</h2>

<h3>
  Basic Knowledge
</h3>


<ol>
  <li>What are the definitions of web3 from academic and industry?</li>
  <li>What entities and big names go after the concept actively?</li> 
  <li>What might be the roadmap of web3?</li>
  <li>What fields do you think relate to your current work and previous experience most?</li>
</ol>
